@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;
    height: 200px;
    
}

.titulo-destaque{
    color: aqua;
}

.apresentacao{
    margin: 10% 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao-conteudo{
    width: 615px;
    height: 482px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao-h1{
     font-size: 36px;
     font-family: "Krona One", sans-serif;
     
}
.apresentacao-p{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    
}

.apresentacao-link{
    display: flex;
    justify-content: space-between;

}

.apresentacao-link-link{
    background-color: #22dffd;
    width: 280px;
    border: solid 5px #22dffd;
    border-radius: 20px;
    font-size: 24px;
    text-align: center;
    padding: 21.5px 0px;
    text-decoration: none;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}


.imagem-logo{
    width: 700px;
    height: 600px;
    border-radius: 20px;

}